:root {
  --text-color: #2e2f42;
  --bg-color: #ffffff;
  --logo-color: #4d5ae5;
  --btn-bg-color: #f4f4fd;
  --info-p-color: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--bg-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.header-span-logo {
  color: var(--text-color);
  margin-right: 76px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;

  margin-right: 76px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.header-menu {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-menu:hover {
  color: #404bbf;
}
.header-menu:focus {
  color: #404bbf;
}
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 24px 0;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-navigation {
  background: #ffffff;
  display: flex;
  align-items: center;
}
.header-address {
  padding: 24px 0;
  font-style: normal;
  margin-left: auto;
}
.header-sol {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 40px;
}
.header-sol:hover {
  color: #404bbf;
}
.header-sol:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  font-size: 56px;
  max-width: 496px;
  margin-bottom: 48px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-btn {
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--logo-color);
  color: #ffffff;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}

.strategy {
  display: flex;
  padding: 120px 0;
}
.visually-hidden {
}
.strategy-list {
  display: flex;
  gap: 24px;
}
.visually-hidden {
  visibility: hidden;
}
.strategy-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-color);
}
.strategy-item {
  width: calc((100% - 72px) / 4);
}
.strategy-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.product {
  display: flex;
  padding-bottom: 120px;
}
.product-title {
  text-transform: capitalize;
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
}
.product-item {
  width: calc((100% - 48px) / 3);
}
.product-list {
  display: flex;
  gap: 24px;
}
.product-img {
}
.team {
  display: flex;
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-color);
}
.team-list {
  display: flex;
  gap: 24px;
  background-color: #ffffff;
  align-items: center;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.text-container {
  padding: 32px 16px;
}
.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  padding: 100px 0;
  background-color: var(--text-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 16px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  text-align: left;
  color: #f4f4fd;
  margin-top: 17.5px;
}
.footer-container {
}
.footer-span-logo {
  color: #f4f4fd;
}
/* ==============PORTFOLIO============= */
.button-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.button-menu {
  padding-top: 96px;
  padding-bottom: 120px;
}
.visually-hidden {
  visibility: hidden;
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 24px;
  background: #f4f4fd;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  list-style: none;
  background-color: var(--btn-bg-color);
  cursor: pointer;
}
.filter-btn:hover {
  border: 1px solid transparent;
  color: #ffffff;
  background: #404bbf;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-title {
}
.filter-list {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 72px;
  gap: 24px;
}
.filter-btn:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background: #404bbf;
}
.container-item {
  width: calc((100% - 48px) / 3);
}
.container-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.container-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--info-p-color);
}
