:root {
  --text-color: #2e2f42;
  --bg-color: #ffffff;
  --logo-color: #4d5ae5;
  --btn-bg-color: #f4f4fd;
  --info-p-color: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--bg-color);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.header-span-logo {
  color: var(--text-color);
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.header-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-menu:hover {
  color: #404bbf;
}
.header-menu:focus {
  color: #404bbf;
}
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-navigation {
  background: #ffffff;
}
.header-address {
  font-style: normal;
}
.header-sol {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-sol:hover {
  color: #404bbf;
}
.header-sol:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--logo-color);
  color: #ffffff;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.strategy-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-color);
}
.strategy-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.product-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-color);
}
.team-list {
  background-color: #ffffff;
}
.team-item {
  background-color: #ffffff;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: var(--text-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
.footer-span-logo {
  color: #f4f4fd;
}
/* ==============PORTFOLIO============= */
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  list-style: none;
  background-color: var(--btn-bg-color);
  cursor: pointer;
}
.filter-btn:hover {
  color: #ffffff;
  background: #404bbf;
}
.filter-btn:focus {
  color: #ffffff;
  background: #404bbf;
}
.container-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.container-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--info-p-color);
}
